.container {
    width: 100%;
    display: flex;
    gap: 40px;

    .options {
        width: 278px;
        display: flex;
        flex-direction: column;
        flex-wrap: 10px;
        background-color: var(--color-black);
        cursor: pointer;

        .title {
            padding: 22px;
            font-size: large;
        }

    }

    .details {
        width: 823px;
        padding: 10px;

        .header {
            display: flex;
            justify-content: space-between;
        }

        .description {}
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;

        .options {

            min-width: 100%;

        }

        .details {
            width: 100%;
        }
    }
}