@import '../../styles/globals.scss';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-black;
    padding: 30px;

    .description {
        margin: 20px 0;
    }
}

.colorGreen {
    border: 1px solid $color-green;
}

.colorRed {
    border: 1px solid $color-red;
}

.colorBlue {
    border: 1px solid $color-default;
}

.projectLinks{
    display: flex;
    gap: 16px;
    position: absolute;
    right: 0;
    top: -10px;

    .deploy, .github, .figma {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
    
    .deploy {
        background-color: #faebd7e6;
    }

    .github {
        background-color: #a52a2ad4;
    }

    .figma {
        background-color: #6969695c;
    }
}

.projectTechnologies{
    display: flex;
    gap: 10px;

    .techonologieLogo{
        display: flex;
        align-items: center;
    }
}
