$color-default: var(--color-default);
$color-primary: var(--color-default);
$color-low-black: var(--color-low-black);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-gray: var(--color-gray);
$color-gray-medium: var(--color-gray-medium);
$color-gray-high: rgba(114, 114, 126, 0.2);
$color-red: #e51d37;
$color-green: #006400;